
.list {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

ul#docList {
	list-style: circle;
	padding-top: 10px;
	padding-bottom: 10px;
}

a#mailto{
	color: blue;
}

.bold{
	font-weight: bold;
}

h3
{
color: white;
}

a#add-file{
color:blue;
}

a{
color yellow;
}
